
<h1>Welcome to the blank course!</h1>

<p>Here you can add some introduction content for your course in html5-format.</p>

<p>A relative media file:<br>
	<img src="../../media/example_image.png" alt="An example image"/>
</p>